<ion-header>

  <ion-navbar>
    <ion-title>Agregar platillo</ion-title>

    <button ion-button clear item-end (tap)="close()">Cerrar</button>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list no-lines>
    
      <ion-item>
        <ion-label fixed>Nombre</ion-label>
        <ion-input [(ngModel)]="Nombre" type="text" value=""></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label fixed>Sabor</ion-label>
        <ion-input [(ngModel)]="Sabor" type="text"></ion-input>
      </ion-item>
    
      <ion-item *ngIf="imagePreview">
        <img [src]="imagePreview">
        <div>{{ uploadPercent | async }}</div>
        <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
      </ion-item>

      <ion-item> 
        <ion-label fixed>Imagen</ion-label>
        <button ion-button item-end large (click)="selectImageCamera(1)"><ion-icon name="camera"></ion-icon></button>
        <button ion-button item-end large (click)="selectImageGallery()"><ion-icon name="images"></ion-icon></button>
      </ion-item>
    
      <ion-item *ngFor="let item of assetCollection ; trackBy:trackByFunctison">
        <img [src]=item.URL width="180px" class="padding">
      </ion-item>

      <br>

    <input type="file" accept="image/*" (change)="uploadFile($event)" />
    <div>{{ uploadPercent | async }}</div>
     <a [href]="downloadURL | async">URL: {{ downloadURL | async }}</a> 
    

    <br>

      <button ion-button block (tap)="agregarPlatillo2()">Agregar</button>
    
    </ion-list>

</ion-content>
